# COVID-19 Data Processing

In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 3041-72E3

 Directory of C:\Users\StevenJBark\Desktop\Coronavirus

06/07/2020  10:36 AM    <DIR>          .
06/07/2020  10:36 AM    <DIR>          ..
04/28/2020  08:55 AM    <DIR>          .ipynb_checkpoints
04/10/2020  11:06 AM    <DIR>          20200408_Data
04/15/2020  10:00 AM    <DIR>          20200409_Data
04/21/2020  10:35 AM    <DIR>          20200414_Data
04/22/2020  07:28 PM    <DIR>          20200420_Data
04/28/2020  11:33 AM    <DIR>          20200427_Data
05/11/2020  12:15 PM    <DIR>          20200509_Data
05/31/2020  10:22 AM    <DIR>          20200518_Data
06/07/2020  10:34 AM         1,797,876 20200607_COVID_DiffMapTest.csv
06/07/2020  10:35 AM         1,797,876 20200607_COVID_DiffMapTest2.csv
06/07/2020  10:29 AM         4,872,852 20200607_NormalizedInfectionData.csv
06/07/2020  10:36 AM         3,041,319 20200607_NormalizedInfectionData2.csv
06/07/2020  09:51 AM         1,161,303 20200607covid_confirmed_usafacts.csv
06/07/2020  09:52 AM            98,761 20200607covid_county_population_usafacts.csv
06/07/2020  09:51 AM         1,002,369 20200607covid_deaths_usafacts.csv
04/28/2020  11:35 AM    <DIR>          Bootstrap_WebPage
05/09/2020  02:58 PM            38,965 COVID_Deaths_Notebook1 .ipynb
06/07/2020  10:34 AM            71,618 COVID_Infections_Notebook1.ipynb
04/16/2020  04:16 PM    <DIR>          COVID_WebPageTest1
05/22/2020  11:07 AM    <DIR>          COVID-19_InfoPage
04/09/2020  10:15 AM             2,169 Untitled.ipynb
              10 File(s)     13,885,108 bytes
              13 Dir(s)  391,722,532,864 bytes free

In [3]:
covid_df1 = pd.read_csv("20200607covid_deaths_usafacts.csv")

In [4]:
covid_df1.shape

(3195, 141)

In [5]:
covid_df1.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,3,3,4,4,5,5,5,5,5,5
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [6]:
covid_df1.columns

Index(['countyFIPS', 'County Name', 'State', 'stateFIPS', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20',
       '6/3/20', '6/4/20', '6/5/20', '6/6/20'],
      dtype='object', length=141)

In [7]:
len(covid_df1.columns)

141

In [8]:
total_list = []

for index, row in covid_df1.iterrows():
    diff_list = [row[0], row[1], row[2], row[3]]
    for n in range(5,len(covid_df1.columns)):
        diff_list.append(row[n]-row[n-1])
    total_list.append(diff_list)

In [9]:
#total_list[:10]

In [10]:
len(total_list)

3195

In [11]:
covid_df2 = pd.DataFrame(total_list)

In [12]:
covid_df2.head()

,0,1,2,3,4,5,6,7,8,9,...,130,131,132,133,134,135,136,137,138,139
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
covid_df2["County"] = ""
covid_df2.head()

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,County
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,

In [14]:
county_list = []
for index, row in covid_df2.iterrows():
    county_list.append(row[1].split("County")[0])

In [15]:
county_list[:10]

['Statewide Unallocated',
 'Autauga ',
 'Baldwin ',
 'Barbour ',
 'Bibb ',
 'Blount ',
 'Bullock ',
 'Butler ',
 'Calhoun ',
 'Chambers ']

In [16]:
covid_df2["County"] = county_list

In [17]:
covid_df2.head()

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,County
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Statewide Unallocated
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,Autauga
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Baldwin
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Barbour
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Bibb

In [18]:
# Removing the stateFIPS and the combined county names. Will use the extracted County names.
covid_df3 = covid_df2.drop([1], axis=1).drop([3], axis=1)

In [23]:
# Remove the statewide Unallocated from County
covid_df4 = covid_df3.loc[covid_df3["County"] != "Statewide Unallocated"]

In [24]:
# Setting County to be the index
covid_df5 = covid_df4.set_index("County")

In [25]:
covid_df5.head()

,0,2,4,5,6,7,8,9,10,11,...,130,131,132,133,134,135,136,137,138,139
County,,,,,,,,,,,,,,,,,,,,,
Autauga,1001,AL,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
Baldwin,1003,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Barbour,1005,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bibb,1007,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Blount,1009,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
renamed_covid_df = covid_df5.rename(columns = {0: "countyFIPS", 2: "State"})

In [32]:
renamed_covid_df.head()

,countyFIPS,State,4,5,6,7,8,9,10,11,...,130,131,132,133,134,135,136,137,138,139
County,,,,,,,,,,,,,,,,,,,,,
Autauga,1001,AL,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
Baldwin,1003,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Barbour,1005,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bibb,1007,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Blount,1009,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
renamed_covid_df.to_csv("20200607_COVID_DiffMapDeaths.csv")